@using Memento.Models
@model AlbumViewModel

@{
    ViewBag.Title = "Album";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["isResourseOfCurrentUser"] = Model.IsAlbumOfUser;

    var uploadPhotoModel = new UploadingPhotoViewModel() {
        AlbumId = Model.AlbumId,
        PhotoDescription = string.Empty
    };
}

<div class="row">
    <input type="hidden" id="current-album-id" value="@Model.AlbumId" />
    <div class="col-md-2">
        <img src="@Url.Content(ViewBag.CurrentUser.PhotoUrl)" class="user-avatar img-responsive img-circle" alt="no image" />
        @if (Model.IsAlbumOfUser)
        {
            <div class="text-center">
                <button type="button"
                        data-toggle="modal"
                        data-target="#upload-modal"
                        class="add-button btn btn-primary btn-xs">
                    Add new photo
                </button>
                @{
                    Html.RenderPartial("_UploadPhotoPartial", uploadPhotoModel, ViewData);
                }
            </div>
        }
    </div>
    <div class="albums-area col-md-10">
        <h1 class="page-header">
            @Model.AlbumName
        </h1>
        
        <ul class="list-inline">
            <li class="photo col-md-3 thumbnail">
                <div class="text-right">
                    <button class="delete-button"></button>
                </div>
                <a class="publication thumbnail" data-toggle="modal" data-target="#view-photo-modal" href="#">
                    <img src="~/Content/Images/footer-haski.jpg" class="img-responsive" alt="no image">
                </a>
            </li>
        </ul>
        @{
            ViewData["resourseRating"] = 0;
            Html.RenderPartial("_ViewPhotoPartial", null, ViewData);
        }

        <hr class="col-md-10"/>
        <div class="col-md-10 text-right"> 
            @{
                ViewData["resourseRating"] = Model.AlbumRating;
                Html.RenderPartial("_RatingPartial", null, ViewData);
            }
        </div>
        <div class="comments col-md-10">
            @Html.Partial("_CommentsAreaPartial")
        </div>

    </div>
</div>

<div class="row col-md-12">
    @Html.ActionLink("Back to albums", "Albums", "Home")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/fileinput")
}



