@using Memento.Models

@{
    ViewBag.Title = "Home Page";
}

@if (Request.IsAuthenticated)
{
    var currentUser = (CurrentUser)Session["CurrentUser"];
   
    <div class="row">
        <div class="col-md-3 avatar-area">
            <img src="@Url.Content(currentUser.PhotoUrl)" class="img-responsive img-thumbnail" alt="no image">
            <h4>@(currentUser.FirstName + " " + currentUser.LastName)</h4>
        </div>
        <div class="col-md-9">
            <ul class="publications-list list-inline row">
                <li>
                    <a class="publication thumbnail" href="#">
                        <img src="~/Content/Images/footer-haski.jpg" 
                             data-toggle="modal" 
                             data-target="#view-photo-modal" 
                             class="img-responsive" 
                             alt="no image">
                    </a>
                </li>
            </ul>

            @Html.Partial("_ViewPhotoPartial")

            <div class="view-more-area row">
                <button class="btn btn-primary">View more</button>
            </div>
        </div>
    </div>
}
else
{
    <div class="jumbotron row">
        <div class="col-md-4">
            <img src="@Url.Content("~/Content/Images/fon-acrobats.jpg")" class="img-responsive" alt="no image">
        </div>
        <div class="col-md-4">
            <img src="@Url.Content("~/Content/Images/fon-man.jpg")" class="img-responsive" alt="no image">
        </div>
        <div class="col-md-4">
            <img src="@Url.Content("~/Content/Images/fon-dance.jpg")" class="img-responsive" alt="no image">
        </div>
    </div>
}

