
<ul class="nav navbar-nav">
    @if (Request.IsAuthenticated)
    {
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("Personal room", "PersonalRoom", "Home")</li>
        <li>@Html.ActionLink("Albums", "Albums", "Home")</li>
        <li>@Html.ActionLink("Search", "Search", "Home")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
        <li>@Html.ActionLink("View", "Album", "Home")</li>
    }
    else
    {
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
    }
</ul>
